<div style="display: flex; justify-content: center;">
    <h1>
        <br>
        Welcome to Library Management System
    </h1>
</div>

<div>

    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Library Management System</title>
        <link rel="stylesheet" href="log-in.component.css">
    </head>

    <body>

        <div class="container">

            <h2 style="text-align: center;">Enter your login credentials</h2>
            <br>

            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Email Address</label>
                <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
            </div>

            <div class="mb-3">
                <label for="exampleFormControlInput2" class="form-label">Phone Number</label>
                <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="e.g. 9988776655">
            </div>

            <div>
                <label for="inputPassword5" class="form-label">Password</label>
                <input type="password" id="inputPassword5" class="form-control" aria-describedby="passwordHelpBlock">
                <div id="passwordHelpBlock" class="form-text">
                    Your password must be 8-20 characters long, contain letters and numbers, and must not contain
                    spaces, special characters, or emoji.
                </div>
            </div>

            <br>
            <div class="text-center">
                <div class="col-11">
                    <button class="btn btn-primary btn-block" type="submit">Log In</button>
                </div>
            </div>
            <br>

            <p style="text-align: center;"> Not registered?<a href="registration.html" style="text-decoration: none;"> create an account</a></p>


        </div>

    </body>

</div>